@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

*,
::before,
::after {
  padding: 0;
  margin: 0;
}

body {
    font-family: 'Montserrat', sans-serif;
}
p,
ul,
a {
    margin-bottom: 0;
}
ul {
    list-style: none;
}
a {
    text-decoration: none;
}

p {
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0.4px;
}

.btn {
    font-size: 16px;
    font-weight: 500;
}

/* ----------top bar--------------- */

.top-bar {
    padding: 5px 0;
}
.top-header-btn {
    padding: 6px 10px;
    line-height: 1.1;
    letter-spacing: 0.4px;
}

/* -----------main menu-------------- */

.main-header {
    padding: 15px 0;
}
.logo img {
    max-width: 190px;
}
.menu ul li a{
    margin-right: 30px;
    font-size: 18px;
    font-weight: 600;
    text-transform: uppercase;
}

#login-btn {
    font-size: 16px;
    font-weight: 500;
    padding: 8px 25px;
}

/* ----------Mobile Device ---------------------*/

@media (max-width:768px) {
    .top-bar {
        padding: 10px 0;
    }
    p {
        font-size: 12px;
        font-weight: 400;
    }
    .top-header-btn {
        font-size: 12px;
        font-weight: 400;
        margin-top: 10px;
        padding: 10px 30px;
    }
    
}